<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/horoscope"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ horoscope.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-img [src]= "horoscope.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-segment  (ionChange)= "onFilterUpdate($event.detail.value)" value="daily" class="ion-padding"
    style="background: #f7f7f7; border-radius: 0;">
      <ion-segment-button value="daily">General</ion-segment-button>
      <ion-segment-button value="health">Health</ion-segment-button>
      <ion-segment-button value="carrer">Career</ion-segment-button>
    </ion-segment>
    <ion-card><ion-card-content class="ion-text-center">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center"  >
        <h1>{{ horoscope.title }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <p>{{ horoscope.dateRange }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" >
        <div *ngIf = "isloading">
          <ion-spinner color="primary" class="ion-text-center"></ion-spinner>
        </div>
        <div *ngIf="!isloading" class="ion-text-start"> 
        <p>{{ this.descHoroscope?.description }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content></ion-card>
  </ion-grid>
</ion-content>
