
ion-icon{
    font-size: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

ion-datetime{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.sign-img{
    width: 30%;
    height: auto;
    display: inline;
}

.sign-card{
    margin: 0;
    padding: 0;
}

.sign-col{
    width: 50%;
    display: inline-block;
    padding-right: 0;
}