<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/diary"></ion-back-button>
    </ion-buttons>
    <ion-title> Diary Page</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancelEntry(entry.id)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner class="ion-margin" color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf = "!isLoading">
    <ion-card>
      <ion-img [src]= "entry.imageUrl"></ion-img>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item class="ion-text-center">
          <ion-label style="font-size: large;" color="primary">{{ entry.title }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none" style="padding-right: 20px;">
          <ion-label color="primary" style="font-size: large;">Mood:</ion-label>
          <ion-label style="text-align: end;">{{ entry.mood }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row >
      <ion-col size-sm="6" offset-sm="3" class="ion-padding">
        <ion-item style="padding-right: 20px;" lines="none" class="ion-text-center">
          <ion-label  color="primary" style="font-size: large;">Your day was...</ion-label>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-textarea [disabled]="true">{{ entry.description }}</ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size-sm="3" offset-sm="3" offset="1">
        <div class="diary-details" >
          <ion-icon  name="calendar" color="primary" style="zoom: 1.5;"></ion-icon>
           <ion-text color="primary" style="font-size: small; padding: 4px;">{{ entry.dateRange | date }}</ion-text>
        </div>
      </ion-col>
      <ion-col size-sm="3" offset="1">
        <div class="diary-details">
          <ion-icon  name="alarm" color="primary" style="zoom: 1.5;"></ion-icon>
           <ion-text color="primary" style="font-size: small; padding: 4px;">{{ entry.time | date:'shortTime'}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="ion-text-center">
      <ion-col *ngIf="!entry.location" size-sm="6" offset-sm="3" class="ion-padding">
        <ion-label  style="opacity: 1" color="primary" style="font-size: large;" position="floating">Location</ion-label>
        <ion-img style="margin-top: 8px;" role="button" (click)="showAlert()" class="location-image" src= "/assets/img/default.jpg"></ion-img>
      </ion-col>
      <ion-col *ngIf="entry.location" size-sm="6" offset-sm="3" class="ion-padding">
        <ion-label  style="opacity: 1" color="primary" style="font-size: large;" position="floating">Location</ion-label>
        <ion-img style="margin-top: 8px;" role="button" (click)="onShowFullMap()" class="location-image" [src]= "entry.location.staticMapImageUrl"></ion-img>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
      <ion-button class="ion-margin" color="primary" [routerLink]="['/','home','tabs','diary','edit', entry.id]">Edit</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
