<ion-header>
  <ion-toolbar color="primary" class="header-title">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title class="menu-title">
      Horoscope Diary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class = "ion-text-center">
       <ion-item detail="false" lines="none" [routerLink]= "['/', 'home','tabs','horoscope']">
         <ion-button color="secondary" shape="round" class="home-nav-button home-large-button" expand="full">
         <ion-label class="home-nav-label">Horoscope</ion-label>
         </ion-button>
       </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class = "ion-text-center">
       <ion-item detail="false" lines="none" [routerLink]= "['/', 'home','tabs','diary']">
         <ion-button color="secondary" shape="round" class="home-nav-button home-large-button" expand="full">
           <ion-label class="home-nav-label">My Diary</ion-label>
         </ion-button>
       </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class = "ion-text-center">
       <ion-item detail="false" lines="none">
         <ion-button color="secondary" shape="round" class="home-nav-button home-small-button" expand="full">
           <ion-label class="home-nav-label">Rate My Day</ion-label>
         </ion-button>
       
         <ion-button color="secondary" shape="round" class="home-nav-button home-small-button" expand="full">
           <ion-label class="home-nav-label">Star Calendar</ion-label>
         </ion-button>
       </ion-item> 
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class = "ion-text-center">
       <ion-item detail="false" lines="none">
         <ion-button color="secondary" shape="round" class="home-nav-button home-small-button" expand="full">
           <ion-label class="home-nav-label">Love Test</ion-label>
         </ion-button>
       
         <ion-button color="secondary" shape="round" class="home-nav-button home-small-button" expand="full">
           <ion-label class="home-nav-label">Tarot Cards</ion-label>
         </ion-button>
       </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class = "ion-text-center">
       <ion-item detail="false" lines="none">
         <ion-button color="secondary" shape="round" class="home-nav-button home-small-button" expand="full">
           <ion-label class="home-nav-label">Wise Crystal Ball</ion-label>
         </ion-button>
       
         <ion-button color="secondary" shape="round" class="home-nav-button home-small-button" expand="full">
           <ion-label class="home-nav-label">Settings</ion-label>
         </ion-button>
       </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> 
 </ion-content>
 